/* src/index.css */
@import "tailwindcss";

@theme {
  --color-chrono-black: #050505;
  --color-chrono-gold: #c5a059; 
  --color-chrono-blue: #3f5591;
  --color-chrono-gray: #1a1a1a;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-chrono-black);
  color: white;
  scroll-behavior: smooth;
}